.v-responsive.v-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.v-toolbar-title {
    flex: 3 !important;
    width: 100% !important;
    font-size: calc(2vw + 1rem);
}

.v-toolbar-title__placeholder {
    overflow: auto !important;
    text-overflow: unset !important;
    white-space: unset !important;
}

.table-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}